/* Webfont: Mersad-SemiBold */@font-face {
    font-family: 'MersadSemBd';
    src: url('Mersad-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('Mersad-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

