/* Webfont: Mersad-ExtraLight */@font-face {
    font-family: 'MersadExtLt';
    src: url('Mersad-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
         url('Mersad-ExtraLight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

