/* Webfont: Mersad-Thin */@font-face {
    font-family: 'MersadThin';
    src: url('Mersad-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('Mersad-Thin.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

