/* Webfont: Mersad-ExtraBold */@font-face {
    font-family: 'MersadExtBd';
    src: url('Mersad-ExtraBold.woff2') format('woff2'), /* Modern Browsers */
         url('Mersad-ExtraBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

