/* Webfont: Mersad-Black */@font-face {
    font-family: 'MersadBlack';
    src: url('Mersad-Black.woff2') format('woff2'), /* Modern Browsers */
         url('Mersad-Black.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

