.App{
  height:100vh;
  display: flex;
  flex-direction: column;
  overflow:hidden;
}

.logo{
  font-size:calc(.7em + 1vw);
  display:flex;
  align-items:center;
  justify-content:center;
  grid-column-gap:12px;
  z-index:12;
}

.nav-bar{
  padding-inline:2%;
  padding-top:.5%;
  padding-bottom:2%;
  display:grid;
  grid-template-columns:auto 1fr 13%;
  grid-column-gap:45px;
  align-items:center;
  justify-content:center;
  width:100%;
  padding-top:1.3em;

}
.first-nav{
  display:inline-flex;
  color:white;
  align-items:center;
  justify-content:space-between;
}
.nav-items{
  display:inline-flex;
  list-style:none;
  align-items:center;
  justify-content:flex-start;
  width:100%;
}
.first-nav{
  list-style:none;
  font-size:12px;
}
.nav-items li{
  margin-right:19%;
  text-transform:uppercase;
  cursor: pointer;
  color:black;
  font-family:'MACHINAREGULAR';
  border-bottom: 4px solid transparent;


}
.nav-items li:hover{
  border-bottom: 4px solid#50FF0E;
}
*{

  margin:0;
  padding:0;
  box-sizing:border-box;
}
.player{
  width:556px;
  height:556px;
}

.hero {
  display:flex;
  flex-direction:column-reverse;
  align-items:center;
  justify-content:center;
  color:white;
}
.text-sale{
  font-family:'CLIMATECRISIS';
  font-size:calc(1rem + 2vw);
  letter-spacing:1px;

}
.hero span{
  width:58vw;
  text-align:center;
  margin-top:2%;

}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
.container {
  position:absolute;
  top:0;
  left:68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform:scale(1.2);
}

.spinner {
  width: 300px;
  height: 300px;
  align-self: center;
  transform-origin: 50% 54.5%;
  cursor: pointer;

}
.canSpin{
  animation: spinner 12s infinite alternate ease-in-out;

}

.bottom{
  width:100%;
  padding:2%;
  display:grid;
  grid-template-columns:1fr 13%;
  font-family:'CHAKRAREGULAR';
  color:white;
}
.bottom-nav{
  font-size:calc(.5em + 1vw);
  list-style:none;
  padding-top:1%;
  cursor: pointer
}

.yy{
  color:#adff2f;
}
.content{
  background-color:black;
  display:grid;
  flex-grow: 1;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(2,1fr);
  margin-inline:2%;
  grid-column-gap:.1%;
  grid-row-gap:.1%;
  padding-top:.1%;
  padding-inline:.1%;
  overflow-x:hidden;
  margin-bottom:1%;
  
}
.ceil-1{
  grid-column:2 span;
  position:relative;
  padding:4%;

  display:flex;
  flex-direction:column;

  align-items:flex-start;
  justify-content:center;

}

.ceil-1 .header{
  font-size:calc( 1.8em + 1vw);
  font-family:'MERSAD';
  width:100%;

}
.ceil-1 .sub{
  font-family:'MACHINAREGULAR';
  font-size:calc( .2em + 1vw);
  
}
.ceil-2 {
  color:white;
  padding:5%;
  background-color:white;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  grid-row-gap:3%;
  position:relative;
}
.ceil-2 .header{
  font-size:calc( 1.8em + 1vw);

  width:100%;
  font-family:'MERSAD';
  color: #000000;
}
.ceil-2 .sub{
  margin-top:1%;
  font-family:'MACHINAREGULAR';
  color:black;
  font-size:calc( .2em + 1vw);

}
.wrapper-scrolling-h2{
  width:100%;
  height:23%;

  background-color:greenyellow;

}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 0);
  }
}
.ceil{
  background-color:white;
  border-radius:12px;
  z-index:12 !important;
  border:1px solid black;
  overflow:hidden;
}

.tr-1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1332;
    background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    white 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}
.tr-2{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1332;
    background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    white 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(18px);
  font-size: 14px;
  line-height: 14px;
}



.original-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  min-height: 40px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  font-family:'MERSAD';
  cursor: pointer;

}

.original-button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}
.ceil-3 {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  padding:6%;
  font-size:18px;
  background-color: #ffffff;
  background-image:  linear-gradient(#00000048 1px, transparent 1px), linear-gradient(to right, #0000005e 1px, #ffffff 1px);
  background-size: 20px 20px;
  position:relative;
}
.ceil-3 .header{
  font-size:53px;
  font-size:calc( 1.8em + 1vw);
  
  font-family:'MERSAD';
  color: #000000;
}
.ceil-3 .sub{
  font-family:'MACHINAREGULAR';
  margin-top:2%;
  font-size:calc( .2em + 1vw);
  text-align:justify;


}
.ceil-3 .star{
  position:absolute;
  top:0;
  right:0;
  padding:4%;
  font-size:113px;
  font-family:'MERSAD';
  color: #000000;
  cursor: pointer;
}

.ceil-4 {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  padding:6%;
  font-size:18px;
  position:relative;
  grid-row-gap:9%;
}
.ceil-4 .header{
  font-size:53px;
  font-size:calc( 1.8em + 1vw);

  color: #000000;
  font-family:'MERSAD';

}
.ceil-4 .sub{
  font-family:'MACHINAREGULAR';
  font-size:18px;
  width:87%;
  font-size:calc( .2em + 1vw);
}

.ceil-5 {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  padding:6%;
  font-size:18px;
  position:relative;
  grid-row-gap:9%;
}
.ceil-5 .header{
  font-size:53px;
  font-size:calc( 1.8em + 1vw);

  color: #000000;
  font-family:'MERSAD';

}
.ceil-5 .sub{
  font-family:'MACHINAREGULAR';
  font-size:18px;
  width:87%;
  font-size:calc( .4em + 1vw);

  
}
.social{
  display:flex;
  align-items:center;
  justify-content:center;
  height:56px;
  width:56px;
  border:3px solid black;
  background-color:#50FF0E;
}
.socials{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  grid-column-gap:2%;
  width:100%;
}
.connect{
  text-decoration:underline;
  font-family:'MACHINAREGULAR';

}
.about{
  
  display:flex;
  flex-direction:column;
  grid-row-gap:7%;
 padding-top:8%;
 padding-bottom:4%;
 padding-inline:6%;
 overflow:hidden;
 overflow-y:scroll;
}
.about .header{
  font-size:56px;
  font-family:'MACHINAREGULAR';
}
.about .sub{
  font-size:18px;
  font-family:'MACHINAREGULAR';
  line-height:23px;
  text-align:justify;
  width:97%;
}
.bottom-about{
  position:sticky;
  bottom:0;
  min-height: 61px;
  width:100%;
  z-index:12;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    white 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(8px);
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
.exchanges {
  display: inline-flex;
  list-style:none;
}
.exchanges li{
  border:1px solid black;
  padding:18px;
  margin-right:2%;
  font-family:'MACHINAREGULAR';
  cursor: pointer;
  transition:.3s;
}
.exchanges li:hover{
  background-color:black;
  color:white;
}