.App{
  position:fixed;
  overflow-x:hidden;
  overflow-y:scroll;
  height:100vh;
  scroll-behavior: smooth;
  z-index:999;
  user-select:none;
}
.navbar{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  padding:1%;
  padding-top:3%;
  padding-inline:5%;
  user-select:none;
}
.navbar div{
  display:flex;
  align-items:center;
  color:white;
}
.navbar div:nth-child(1){
  font-family:'Inter';
  font-weight:400;
}
.navbar div:nth-child(3){
  justify-content:center;
}
.navbar button{
  background-color:#E80270;
  color:white;
  border:none;
  border-radius:12px;
  height:41px;
  padding-inline:5%;
  font-size:12px;
  cursor: pointer;

}
.nav-items{
  display:inline-flex;
  list-style:none;
  grid-column-gap:7%;

  font-size:16px;
  font-family:'Inter';
  color:gray;

}
.nav-items li {
  cursor: pointer;
  text-transform: capitalize;
}
.nav-items li:hover{
  color:whitesmoke;
}
.navbar div:nth-child(3){
  justify-content:flex-end;
}

.pattern{
  position:absolute;
  width:100%;
  height:99vh;
  background-image:url('./assets/pattern.svg');
  background-size:cover;
  background-position-y:-34px;
  opacity:.5;
  z-index:-12;
}

.gradient-1{
  position: absolute;
  width: 749.02px;
  height: 715.74px;
  left: 1154px;
  top: 38px;
  background:url('./assets/blobanimation.svg');
  z-index:-1;



}

.gradient-2{
  position: absolute;
  width: 749.02px;
  height: 715.74px;
  left: -564px;
  top: 494px;
  background:url('./assets/blobanimation.svg');
  z-index:-1;
}

.section-1{
  display:grid;
  grid-template-columns:1fr 1fr;
  color:white;
  padding-inline:5%;
  margin-top:5%;

}
.sec-1-a{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  grid-row-gap:6%;
}
.section-1 .header{
  display:flex;
  grid-column-gap:2%;
  font-size:60px;
  color:white;
  width:100%;
  font-family:'Inter';
  font-weight:100;

}
.section-1 p:nth-child(2){
  font-size:27px;
  color:white;
  font-family:'Inter';
  font-weight:300;
  text-align:justify;

}
.bold{
  font-family:'Inter';
  font-weight:500;
}

.sec-2-a{
  display:flex;
  align-items:center;
  justify-self:flex-end;
}

.data{
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  grid-column-gap:5%;
  margin-top:21%;
}

.data .ticket {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.data .ticket .num{
  font-family:'Inter';
  font-weight:600;
  font-size:53px;
}

.data .ticket .label {
  font-family:'Inter';
  font-weight:200;
}

.section-2{
  margin-top:11%;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  width:100%;
}


.section-2 .rubber{
  position:absolute;
  left:-33px;
  z-index:-1;
}


  @-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 1054.693603515625px;
      stroke-dasharray: 1054.693603515625px;
    }

    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1054.693603515625px;
    }
  }

  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 1054.693603515625px;
      stroke-dasharray: 1054.693603515625px;
    }

    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1054.693603515625px;
    }
  }

.svg-elem-hidden{
  stroke-dashoffset: 1054.69360351562px;
  stroke-dasharray: 1054.693603515625px;
}
  .svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
            animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
  }

.texts{
  padding-inline:2%;
  color:white;
  width:35%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  grid-row-gap:8%;
  height:334px;
}

.texts .header{
  font-family:'Inter';
  font-weight:500;
}

.texts .sub{
  font-family:'Inter';
  font-weight:200;
  margin-top:2%;
}
