@font-face {
    font-family:'NM-ULTRABOLD';
    src: url('./assets/fonts/static/NeueMachina/NeueMachina-Ultrabold.otf');
}
@font-face {
    font-family:'NM-REGULAR';
    src: url('./assets/fonts/static/NeueMachina/NeueMachina-Regular.otf');
}

@font-face {
    font-family:'NM-LIGHT';
    src: url('./assets/fonts/static/NeueMachina/NeueMachina-Light.otf');
}
