body,html{
    height:100%;
    margin:0;
    padding:0;
    scroll-behavior:smooth;
    background-color:#0e0e0e;
    overflow-x:hidden;
}
*{
  margin:0;
  padding:0;
}
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
