@media only screen and (max-width: 1000px) {
    .nav-items{
        display:none;
    }
    .hero span{
        text-align:center;
    }  
      
}
@media only screen and (max-width: 900px) {
    .content {
  margin-inline:0%;
    }
    .content{

        grid-template-columns:repeat(3,1fr);
        grid-template-rows:repeat(6,1fr);
        
      }
    .ceil-1{
        grid-column:3 span;
        grid-row:2 span;
    }
    .ceil-2{
        grid-column:2 span;
        grid-row:2 span;

    }
    .ceil-3{
        grid-column:1 span;
        grid-row:2 span;

        
    }
    .ceil-4{
        grid-row:2 span;
        grid-column:2 span;

    }
    .ceil-5{
        grid-row:2 span;

    }

      
}

@media only screen and (max-width: 600px) {

    .content{

        grid-template-columns:repeat(3,1fr);
        grid-template-rows:repeat(6,1fr);
        background-color:transparent;
        
      }
    .ceil-1{
        grid-column:3 span;
        grid-row:2 span;
    }
    .ceil-2{
        grid-column:3 span;
        grid-row:2 span;

    }
    .ceil-3{
        grid-column:1 span;
        grid-row:2 span;
        display:none;

        
    }
    .ceil-4{
        grid-row:2 span;
        grid-column:3 span;

    }
    .ceil-5{
        grid-row:2 span;
        display:none;

    }

      
}
